body {
    background-color: rgb(255, 255, 255);
}

h1 {
    color: rgb(23, 18, 45);
}

h2 {
    color: rgb(72, 10, 107);
}

h3 {
    color: rgb(114, 42, 169);
}


.FOTO_1{
    width: 600px;
}

.FOTO_2{
    width: 300px;
}

.FOTO_3{
    width: 300px;
}